* { margin: 0; padding: 0; box-sizing: border-box; }
#navbar_cart_logo { max-width: 3rem; }
#navbar_icon_logo { max-width: 8rem; }


.hero_main {
    min-height: 100vh;
    background: url('pics/iStock-805110480.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.main_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.main_header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.main_header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2rem;
}

#menu-check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    z-index: 1;
}

/* BREAKPOINTS */

@media (max-width: 992px) {
    .main_header{
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons{
        display: inline-flex;
        top: 30%;
    }

    #menu-check:checked~.icons #menu-icon {
        display: none;
    }
    #menu-check:checked~.icons #close-icon {
        display: block;
    }

    .icons #close-icon {
        display: none;
    }
    
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        height: 0;
        width: 100%;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    
    #menu-check:checked~.navbar {
        height: 17.7rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transition: .3s ease;
    }

    #menu-check:checked~.navbar a {
        transform: translateY(0);
    }
}
